# Catppuccin Frappé palette
palette = "catppuccin_frappe"

# Define visual Layout
format = """
$directory\
$git_branch\
$git_metrics\
$fill\
$line_break\
$character"""

# Configure the Fill Line to match
[fill]
symbol = "―"
style = "bold overlay0"

# Configure the Character (The Arrow)
[character]
success_symbol = "[❯](bold lavender)"
error_symbol = "[❯](bold lavender)"

# Catppuccin Frappé palette definition
[palettes.catppuccin_frappe]
rosewater = "#f2d5cf"
flamingo = "#eebebe"
pink = "#f4b8e4"
mauve = "#ca9ee6"
red = "#e78284"
maroon = "#ea999c"
peach = "#ef9f76"
yellow = "#e5c890"
green = "#a6d189"
teal = "#81c8be"
sky = "#99d1db"
sapphire = "#85c1dc"
blue = "#8caaee"
lavender = "#babbf1"
text = "#c6d0f5"
subtext1 = "#b5bfe2"
subtext0 = "#a5adce"
overlay2 = "#949cbb"
overlay1 = "#838ba7"
overlay0 = "#737994"
surface2 = "#626880"
surface1 = "#51576d"
surface0 = "#414559"
base = "#303446"
mantle = "#292c3c"
crust = "#232634"

# Remove the Google Cloud inline authenticated user
[gcloud]
disabled = true

# Truncate the size of the path shown in case is too long
[directory]
truncation_length = 8 # Show 8 folders deep in the path
truncate_to_repo = true # When working on git just see the project home

# Add the git local branch vs origin metrics
[git_metrics]
disabled = false
added_style = "bold green"
deleted_style = "bold red"
